.main-body{
    padding-top: 150px;
    padding-bottom: 0;
    margin-bottom: 0;
}
body{
    width: 1910px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 3980px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

html{
    scroll-behavior: smooth;
}
p{
    margin-bottom: 0;
    margin-top:0;
   
}

