.modal_container{
    background-color: rgba(0,0,0,0.3);
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    transition: 0.3s;
}
.modal_container.show{
    pointer-events:auto;
    opacity: 1;
}
.modal{
    font-family: Arial; 
    background-color: white;
    width: 700px;
    height: 400px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);                            
}
.bg-educ,
.center{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.close-button{
    width: 120px;
    height: 40px;
    margin-top: 35px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: Lora;
    font-weight: 600;
    font-size: 18px;
    color:white;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #f58cb2, #a6335d);
    cursor: pointer;
    transition: 0.2s;
}
.close-button:hover{
    box-shadow: 0 0 6px rgba(175, 44, 99, 0.8)
}
.bg-educ{
    font-family: Lora;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 35px;
}
.college-container,
.sr-high-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sr-high,
.college{
    width: 500px;
    margin-bottom: 20px;
    line-height: 25px;
}
.campus{
    font-weight: bold;
}
.location{
    color: gray;
}
.honors{
    font-style: italic;
}

